// -----------------------------------------------------------------------------
// This file contains all styles related to the grid system.
// -----------------------------------------------------------------------------

.container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    @include media-query-breakpoint('large-desktop') {
        max-width: $max-width;
    }
}

.container-fluid {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.sections {
    @include display-flex;
    @include flex-wrap(wrap);
    @include justify-content(center);
    margin: -$inset-default / 2;
}

.sections + .sections {
    margin-top: $inset-default / 2;
}

.sections .section-item {
    @include flex(1 0 auto);
    padding: $inset-default / 2;
}

.section-item.section-item-primary {
    @include flex(2 1 48rem);
}

.section-item.section-item-secondary  {
    @include flex(1 0 24rem);
}
