// -----------------------------------------------------------------------------
// This file contains all styles related to the grid system.
// -----------------------------------------------------------------------------

.container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    @include media-query-breakpoint('large-desktop') {
        max-width: $max-width;
    }
}

.container-fluid {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.grid {
    @include display-flex;
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include rem(margin, -$inset-default / 2);
    @include rem(max-width, $max-width);
    @include media-query-breakpoint('desktop', $type: max) {
        display: block;
    }
}

.grid + .grid {
    margin-top: $inset-default / 2;
}

.grid .grid-item {
    @include flex(1 0 auto);
    padding: $inset-default / 2;
    @include media-query-breakpoint('phone', $type: max) {
        width: 100%;
    }
}

.grid-item.grid-item-primary {
    @include flex(2 1 48rem);
}

.grid-item.grid-item-secondary  {
    @include flex(1 0 24rem);
}

//Grid Content
.grid-content {
    @extend .grid;
    @include rem(margin, -$space-s);
    @include media-query-breakpoint('desktop', $type: max) {
        @include display-flex;
    }
    @include media-query-breakpoint('tablet', $type: max) {
        display: block;
    }
}

.grid-content + .grid-content {
    margin-top: $space-s;
}

.grid-content .grid-item {
    padding: $space-s;
    @include media-query-breakpoint('phone', $type: max) {
        width: 100%;
    }
}

//Grid No-Padding
.grid-no-padding {
    @extend .grid-content;
    @include flex-wrap(nowrap);
    margin: 0;
    @include media-query-breakpoint('tablet', $type: max) {
        @include display-flex;
    }
}

.grid-no-padding + .grid-content.grid-no-padding {
    margin-top: 0;
}

.grid-no-padding .grid-item {
    padding: 0;
    @include media-query-breakpoint('phone', $type: max) {
        width: auto;
    }
}
