// -----------------------------------------------------------------------------
// This file contains all styles related to the badge component.
// -----------------------------------------------------------------------------

.badge {
    display: inline-block;
    height: auto;
    box-sizing: border-box;
    text-transform: none;
    text-align: center;
    vertical-align: baseline;
    color: $text;
    border-radius: $line-height;
    border: none;
    @include rem(padding, $space-xxs $space-s);
    font-family: $primary-font-stack;
    font-weight: $regular;
    @include rem(font-size, $paragraph);
    @include rem(line-height, $line-height);
    outline: none;
    background: $faint-gray;
}

/**
* Types
*/
.badge-positive {
    background: $light-green;
}

.badge-negative {
    background: $light-red;
}

.badge-warning {
    background: $light-yellow;
}

.badge-info {
    background: $light-blue;
}

//Status badge
.has-badge {
    position: relative;
}

.has-badge::after {
    content: '';
    position: absolute;
    display: block;
    height: 6px;
    width: 6px;
    top: 0;
    right: 0;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #ffffff;
}

.has-badge.is-positive::after {
    background: $green;
}

.has-badge.is-negative::after {
    background: $red;
}

.has-badge.is-warning::after {
    background: $yellow;
}

.has-badge.is-info::after {
    background: $blue;
}
