// -----------------------------------------------------------------------------
// This file contains all styles related to the card component.
// -----------------------------------------------------------------------------

.card {
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0 0 0 1px rgba($muted, 0.03), 0 1px 2px 0 rgba($muted, 0.24), 0 4px 4px 0 rgba($muted, 0.05);
    border-radius: $border-radius;
}

.card-title {
    @include rem(padding, $space-default $space-default 0 $space-default);
    @include display-flex;
}

.card-subtitle {
    @include rem(padding-bottom, $space-default);
    @include display-flex;
}

.card-title:first-child {
    border-top: none;
}

.card-title > *,
.card-subtitle > * {
    margin: 0;
    @include flex(1 0 50%);
    min-width: 0;
}

.card-title h2,
.card-title h3 {
    @include rem(padding-right, $space-default);
}

.card-content {
    @include rem(padding, $space-default);
}

.card-content > *:not(.grid-content) {
    margin: 0;
}

.card-content {
    border-bottom: 1px solid $faint-gray;
}

.card-content:last-child {
    border: none;
}

/**
* Types
*/

//Secondary
.card.card-secondary {
    background: $light-background;
    box-shadow: 0 0 0 1px $faint-gray inset;
}

.card-content.card-content-secondary {
    background: $light-background;
}
