// -----------------------------------------------------------------------------
// This file contains all styles related to the list component.
// -----------------------------------------------------------------------------

ul, ol { margin: 0; }

.list {
    padding-left: 0;
    list-style: none;
}

.list-item {
    position: relative;
    @include display-flex;
    @include rem(margin-bottom, $space-s);
    @include rem(padding-left, $space-m);
}

.list-item::before {
    content: '\2022';
    position: absolute;
    top: 0;
    left: 0;
    color: $gray;
}

// Divided
.list.list-divided .list-item {
    @include rem(padding, $space-s 0 $space-s $space-m);
    margin-bottom: 0;
}

.list.list-divided .list-item {
    border-bottom: 1px solid $faint-gray;
}

.list.list-divided .list-item:last-child {
    border-bottom: none;
}

.list-item.list-divided:before {
    content: '\2022';
    position: absolute;
    top: 10px;
    left: 0;
    color: $gray;
}

/**
* List Group
*/

.list.list-group .list-item {
    padding: 0;
}

.list.list-group .list-item::before {
    display: none;
}

.list.list-group .list-item > * {
    @include flex(1 1 auto);
}
