// -----------------------------------------------------------------------------
// This file contains all styles related to the popover component.
// -----------------------------------------------------------------------------

.popover {
    box-sizing: border-box;
    min-width: 280px;
    max-width: 600px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0 0 0 1px rgba($muted, 0.09), 0 7px 14px 0 rgba($muted, 0.15), 0 3px 6px 0 rgba($muted, 0.07);
    border-radius: $border-radius;
    z-index: $z-90;
}

.popover-arrow {
    overflow: hidden;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    @include rem(margin-left, -10px);
    background: transparent;
    top: -20px;
    z-index: $z-80;
}

.popover-arrow::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 50%;
    @include rem(margin-left, -8px);
    background: #FFFFFF;
    box-shadow: 0 0 0 1px rgba($muted, 0.09), 0 1px 2px 0 rgba($muted, 0.24), 4px 0 4px 0 rgba($muted, 0.05);
    top: 14px;
    @include browser-prefix(transform, rotate(45deg));
}

.popover-title {
    @include rem(padding, $space-m);
    @include display-flex;
    border-bottom: 1px solid $faint-gray;
}

.popover-subtitle {
    @include display-flex;
    @include rem(padding-bottom, $space-m);
}

.popover-title > *,
.popover-subtitle > * {
    margin: 0;
    @include flex(1 0 50%);
    min-width: 0;
}

.popover-title h2,
.popover-title h3 {
    @include rem(padding-right, $space-default);
}

.popover-control {
    overflow: hidden;
    max-height: 600px;
}

.popover-control.is-scrollable {
    overflow-y: scroll;
}

.popover-content {
    @include rem(padding, $inset-m);
}

.popover-content > *:not(.grid-content) {
    margin: 0;
}

.popover-content {
    border-bottom: 1px solid $faint-gray;
}

.popover-content:last-child {
    border: none;
    border-radius: 0 0 $border-radius $border-radius;
}

/**
* Types
*/

//Secondary
.popover-content.popover-content-secondary {
    background: $light-background;
}
