// -----------------------------------------------------------------------------
// This file contains all styles related to the toggle components.
// (Checkbox, Radio and more...)
// -----------------------------------------------------------------------------

.field-label-toggle {
    display: inline-block;
    position: relative;
    @include rem(padding-left, 20px + $space-s);
    margin: 0;
    cursor: pointer;
}

.field-caption-toggle {
    @include rem(padding-left, $space-l);
}

/**
* Checkbox
*/
input.field-checkbox[type=checkbox] {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    z-index: 10;
    cursor: pointer;

    &:checked ~ .field-checkbox-style,
    &:focus ~ .field-checkbox-style {
        box-shadow: 0 0 0 1px $blue inset, 0 0 0 0 rgba($gray, 0.5) inset, 0 0 0 1px $blue;
    }

    &:checked ~ .field-checkbox-style .icon {
        fill: $blue;
        opacity: 1;
    }
}

.field-checkbox-style {
    cursor: pointer;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    position: absolute;
    top: $space-xxs;
    left: $space-xxs;
    border-radius: $border-radius - 2;
    box-shadow: 0 0 0 1px $light-gray inset, 0 1px 2px 0 rgba($gray, 0.5) inset, 0 0 0 0 $blue;
    @include transition(box-shadow .1s ease);
}

.field-checkbox-style .icon {
    position: absolute;
    top: $space-xxs;
    right: -$space-xxs;
    opacity: 0;
}

/**
* Radio
*/
input.field-radio[type=radio] {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    z-index: 10;
    cursor: pointer;

    &:checked ~ .field-radio-style,
    &:focus ~ .field-radio-style {
        box-shadow: 0 0 0 1px $blue inset, 0 0 0 0 rgba($gray, 0.5) inset, 0 0 0 1px $blue;
    }

    &:checked ~ .field-radio-style .icon {
        fill: $blue;
        opacity: 1;
    }
}

.field-radio-style {
    cursor: pointer;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: $space-xxs;
    left: $space-xxs;
    box-shadow: 0 0 0 1px $light-gray inset, 0 1px 2px 0 rgba($gray, 0.5) inset, 0 0 0 0 $blue;
    @include transition(box-shadow .1s ease);
}

.field-radio-style .icon {
    position: absolute;
    top: $space-xxs;
    right: -$space-xxs;
    opacity: 0;
}

/**
* Switch
*/
.field-switch-body {
    @include display-flex;
    height: 20px;
    width: 36px;
    border-radius: 36px;
    position: relative;
    vertical-align: baseline;
    cursor: pointer;
}

input.field-switch[type=checkbox] {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 20px;
    box-sizing: border-box;

    &:checked + .field-switch-handle {
        background-color: $blue;
    }

    &:checked + .field-switch-handle:before {
        @include browser-prefix(transform, translateX(16px));
    }
}

.field-switch-handle {
    position: absolute;
    border-radius: 20px;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $light-gray;
    @include browser-prefix(transition, .4s);
}

.field-switch-handle:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: $space-xxs;
  bottom: $space-xxs;
  background-color: white;
  @include browser-prefix(transition, .2s);
}
