// -----------------------------------------------------------------------------
// This file contains all styles related to the tooltip components.
// -----------------------------------------------------------------------------

/* Base styles for the element that has a tooltip */
[data-tooltip],
.has-tooltip {
    position: relative;
    cursor: pointer;
    text-align: center;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.has-tooltip:before,
.has-tooltip:after {
    position: absolute;
    visibility: hidden;
    @include opacity(0);
    @include transition(all 0.2s ease-in-out);
    @include browser-prefix(transform, translate3d(0, 0, 0));
    pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.has-tooltip:hover:before,
.has-tooltip:hover:after,
.has-tooltip:focus:before,
.has-tooltip:focus:after {
    visibility: visible;
    @include opacity(1);
}

/* Base styles for the tooltip's directional arrow */
.has-tooltip:before,
[data-tooltip]:before {
    z-index: 1001;
    border: 6px solid transparent;
    background: transparent;
    content: "";
}

/* Base styles for the tooltip's content area */
.has-tooltip:after,
[data-tooltip]:after {
    z-index: 1000;
    padding: 8px;
    width: 160px;
    background-color: $dark-background;
    color: #fff;
    content: attr(data-tooltip);
    border-radius: $border-radius;
    font-size: 14px;
    line-height: 1.2;
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.has-tooltip:before,
.has-tooltip:after,
.has-tooltip-top:before,
.has-tooltip-top:after {
    bottom: 100%;
    left: 50%;
}

[data-tooltip]:before,
.has-tooltip:before,
.has-tooltip-top:before {
    margin-left: -6px;
    margin-bottom: -12px;
    border-top-color: $dark-background;
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.has-tooltip:after,
.has-tooltip-top:after {
    margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.has-tooltip:hover:before,
.has-tooltip:hover:after,
.has-tooltip:focus:before,
.has-tooltip:focus:after,
.has-tooltip-top:hover:before,
.has-tooltip-top:hover:after,
.has-tooltip-top:focus:before,
.has-tooltip-top:focus:after {
    @include browser-prefix(transform, translateY(-12px));
}

/* Left */
.has-tooltip-left:before,
.has-tooltip-left:after {
    right: 100%;
    bottom: 50%;
    left: auto;
}

.has-tooltip-left:before {
    margin-left: 0;
    margin-right: -12px;
    margin-bottom: 0;
    border-top-color: transparent;
    border-left-color: $dark-background;
}

.has-tooltip-left:hover:before,
.has-tooltip-left:hover:after,
.has-tooltip-left:focus:before,
.has-tooltip-left:focus:after {
    @include browser-prefix(transform, translateX(-12px));
}

/* Bottom */
.has-tooltip-bottom:before,
.has-tooltip-bottom:after {
    top: 100%;
    bottom: auto;
    left: 50%;
}

.has-tooltip-bottom:before {
    margin-top: -12px;
    margin-bottom: 0;
    border-top-color: transparent;
    border-bottom-color: $dark-background;
}

.has-tooltip-bottom:hover:before,
.has-tooltip-bottom:hover:after,
.has-tooltip-bottom:focus:before,
.has-tooltip-bottom:focus:after {
    @include browser-prefix(transform, translateY(12px));

}

/* Right */
.has-tooltip-right:before,
.has-tooltip-right:after {
    bottom: 50%;
    left: 100%;
}

.has-tooltip-right:before {
    margin-bottom: 0;
    margin-left: -12px;
    border-top-color: transparent;
    border-right-color: $dark-background;
}

.has-tooltip-right:hover:before,
.has-tooltip-right:hover:after,
.has-tooltip-right:focus:before,
.has-tooltip-right:focus:after {
    @include browser-prefix(transform, translateX(12px));
}

/* Move directional arrows down a bit for left/right tooltips */
.has-tooltip-left:before,
.has-tooltip-right:before {
    top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.has-tooltip-left:after,
.has-tooltip-right:after {
    margin-left: 0;
    margin-bottom: -16px;
}
